# Data Science Tools and Ecosystem

### In this notebook the data science tools and ecosystem is discussed

 objectives that this notebook covered

Objectives

* Most commonly used data science languages
* Some of the commonly used libraries used by Data Scientists include
* Data Science Tools
* few examples of evaluating arithmetic expressions in Python

#### Most commonly used data science languages

1. python
2. R
3. Sql
4. C++
5. Julia

#### Some of the commonly used libraries used by Data Scientists include

1. Pandas
2. NumPy
3. matplotlib
4. seaborn
5. scikit-learn

  |Data Science Tools|
  |------------------|
  |Anaconda|
  |Github|
  |Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200*1/60)

3.3333333333333335

## Author

Muhammad Taha Nisar